.my-journeys {
    height: 100vh;
    width: 100vw;

    &-content {
        min-height: calc(100% - 64px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #f8aaff;
        background: -webkit-linear-gradient(to right, #8dfff4, #f8aaff);
        background: linear-gradient(to right, #8dfff4, #f8aaff);

        .title {
            font-family: "Pixelify Sans", sans-serif;
            margin-top: 50px;
            font-size: 44px;
            margin-bottom: 60px;
            color: #333;
        }

        .journey-wrapper {
            height: 100%;
            width: 85%;
            background: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .journey {
                width: 70%;

                .destination {
                    width: 100%;
                    font-family: "Poppins", sans-serif;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .left-column {
                        width: 60%;
                        padding: 20px;
                    }

                    .name {
                        font-size: 22px;
                        font-weight: bold;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }

                    .dates {
                        margin-bottom: 20px;
                    }

                    .description {
                        font-weight: 16px;
                        margin-bottom: 20px;
                    }

                    .temperature {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .weather {
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 150px;
                            width: 150px;
                        }
                    }

                }

                .card {
                    font-family: "Poppins", sans-serif;
                }

                .input-wrapper {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    mat-form-field {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }