.header {
    background-color: #333;
    span {
        font-family: "Pixelify Sans", sans-serif;
        font-weight: bold;
        font-size: 22px;
        color: white;
    }
    button {
        mat-icon {
            color: white;
            fill: white;
        }
    }
    &-menu {
        margin-left: auto;
    }
}